{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}4l Trophistes{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('/vendors/lightbox/css/lightbox.min.css') }}">
        <link href="{{ asset('/css/master.css') }}" rel="stylesheet">
    {% endblock %}

    {% block javascript_preload %}
    {% endblock %}



    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId={{ facebook_app_id }}";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container-fluid">
        {% block menu %}
            <div class="row">
                <nav class="nav_wrapper col-sm-12">
                    <ul class="nav_list center-block">
                        <li><img src="{{ asset('/img/logo.png') }}" alt=""></li>
                        {% set currentRoute = app.request.attributes.get('_route') %}
                        {% for name, route in navigation %}
                            {% set path = (route ? path(route) : '') %}
                            <li class="hidden-xs {% if route == currentRoute %}active{% endif %} "><a href="{{ path }}">{{ name }}</a></li>
                        {% endfor %}

                        <li class="hidden-sm hidden-lg hidden-md dropdown">
                            <button class="btn btn-red dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% for name, route in navigation %}
                                    {% set path = (route ? path(route) : '') %}
                                    <li {% if route == currentRoute %}class="active"{% endif %}><a href="{{ path }}">{{ name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <span>
                                <a href="http://bpi.4ltrophy.com/">SE PRÉINSCRIRE</a>
                            </span>
                        </li>
                    </ul>
                </nav>
            </div>
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('/vendors/lightbox/js/lightbox-plus-jquery.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{{ asset('/vendors/countdown/jquery.countdown.min.js') }}"></script>
    <script src="{{ asset('/js/scripts.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
    </script>
{% endblock %}
</body>
</html>
