{% extends 'base.html.twig' %}
{% block content %}
    <div class="background" style="background-image: url('{{ asset('img/bg_preparation.jpg') }}')"></div>
    <div class="row preparation">
        <div class="row bigPicture">
            <div class="col-sm-12">
                <img src="{{ asset('img/slide1.jpg') }}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row commentary">
                    <div class="col-sm-5 bulle">
                        <div class="row">
                            <div class="col-xs-2 icon">
                                <img src="{{ asset('img/preinscription.png') }}" alt="">
                            </div>
                            <div class="col-xs-10">
                                <h2>Pré-inscription</h2>
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        Formulaire de préinscirption permettant de
                                        préréserver une place pour la participation. Cette période permet la rétractation.                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row commentary">
                    <div class="col-sm-5 col-sm-offset-7 bulle">
                        <div class="row">
                            <div class="col-xs-2 icon">
                                <img src="{{ asset('img/creationassociation.png') }}" alt="">
                            </div>
                            <div class="col-xs-10">
                                <h2>Creation d'une association</h2>
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        Renseignements sur la création d’une association. Nous ne pouvons pas récolter des dons sans avoir une association à but non lucratif de la loi 1901. Une fois celle-ci mise en place, nous pouvons récolter des dons fait par des entreprises. Cette association doit être constituée de statuts. Cela nous permet aussi de réaliser des factures pour les entreprises qui nous sponsorisent.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row commentary">
                    <div class="col-sm-5 bulle">
                        <div class="row">
                            <div class="col-xs-2 icon">
                                <img src="{{ asset('img/budget.png') }}" alt="">
                            </div>
                            <div class="col-xs-10">
                                <h2>Budget Prévisionnel</h2>
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        La préinscription, l’inscription, l’achat de la voiture, les réparations et les pièces nouvelles (sauf si la voiture est déjà prête), l’assurance, le stickage de la voiture avec les logos des sponsors, le contrôle technique, les passeports, le book sponsors (papier/ impression/relier), les pièces mécaniques obligatoires pour le départ en cas de casse, le matériel obligatoire (sangle de remorquage, extincteurs…)
                                        La nourriture pour le trajet (tous les repas ne sont pas pris en compte par l’organisation), l’essence (allé/retour); péages
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row commentary">
                    <div class="col-sm-5 col-sm-offset-7 bulle">
                        <div class="row">
                            <div class="col-xs-2 icon">
                                <img src="{{ asset('img/booksponsoring.png') }}" alt="">
                            </div>
                            <div class="col-xs-10">
                                <h2>Book de sponsoring</h2>
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        Ce Book va nous permettre de raconter ce qu’est le 4L Trophy, présenté l’équipage, expliquer nos motivations, réaliser une maquette de notre voiture avec les différents encarts possibles pour les sponsors. Ces encarts sont très importants, on y définit les emplacements des logos sur la voiture mais surtout à quel tarifs. Ces grâce à ces encarts que nous récoltons notre budget prévisionnel.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row commentary">
                    <div class="col-sm-5 bulle">
                        <div class="row">
                            <div class="col-xs-2 icon">
                                <img src="{{ asset('img/démarcher.png') }}" alt="">
                            </div>
                            <div class="col-xs-10">
                                <h2>Démarcher les entreprises</h2>
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        Faire du porte-à-porte dans la ville pour aller à la rencontre des entreprises. Faire marcher son relationnel (surtout dans une ville pas très grande). La moindre aide est primordiale, certaines entreprises nous aident grâce à leur savoir-faire et le sponsoring passe par là (ex: garagiste, mécanicien…)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row commentary">
                    <div class="col-sm-5 col-sm-offset-7 bulle">
                        <div class="row">
                            <div class="col-xs-2 icon">
                                <img src="{{ asset('img/recolter.png') }}" alt="">
                            </div>
                            <div class="col-xs-10">
                                <h2>Récolter des sous</h2>
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        - La vente de stylos floquer 4L Trophy sur des brocantes
                                        <br>- Récolte de fournitures scolaires dans des magasins spécialisés avec un stand
                                        <br>- Réalisation de paquets cadeaux à la sortie des magasins de jouets ou grandes surfaces pendant les périodes de fêtes.
                                        <br>Faites parler de vous
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row commentary">
                    <div class="col-sm-5 bulle">
                        <div class="row">
                            <div class="col-xs-2 icon">
                                <img src="{{ asset('img/reparation.png') }}" alt="">
                            </div>
                            <div class="col-xs-10">
                                <h2>Réparation de la voiture</h2>
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        Si vous avez quelqu’un de votre entourage qui s’y connaît n'hésitez pas sinon trouver un garage qui vous sponsorise !
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row commentary">
                    <div class="col-sm-5 col-sm-offset-7 bulle">
                        <div class="row">
                            <div class="col-xs-2 icon">
                                <img src="{{ asset('img/cours.png') }}" alt="">
                            </div>
                            <div class="col-xs-10">
                                <h2>Cours de mécanique</h2>
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        Et oui, connaître les bases en cas de panne.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}