{% extends 'base.html.twig' %}
{% block content %}
    <div class="presentation">
        <div class="row">
            <div class="bigPicture col-sm-12">
                <img src="{{ asset('img/slide1.jpg') }}" alt="">
            </div>
        </div>

        <div class="row textAndPhotos">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <h2>le 4l trophy</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        <img src="{{ asset('img/petm.jpeg') }}" alt="">
                    </div>
                    <div class="col-sm-6 container">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, iure, perferendis. A ab consectetur dolorem dolores ex excepturi, impedit in labore maiores minus molestias mollitia provident suscipit vel voluptas! Ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at commodi consectetur consequatur cumque distinctio enim eveniet illum nisi obcaecati, odio quas, ratione reprehenderit sed sequi soluta ullam voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eius facilis laborum. Alias cupiditate doloremque eligendi quaerat voluptates! Corporis dolorem ea eaque eligendi eos esse fuga hic reiciendis tempora, velit.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, iure, perferendis. A ab consectetur dolorem dolores ex excepturi, impedit in labore maiores minus molestias mollitia provident suscipit vel voluptas! Ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at commodi consectetur consequatur cumque distinctio enim eveniet illum nisi obcaecati, odio quas, ratione reprehenderit sed sequi soluta ullam voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eius facilis laborum. Alias cupiditate doloremque eligendi quaerat voluptates! Corporis dolorem ea eaque eligendi eos esse fuga hic reiciendis tempora, velit.
                    </div>
                    <div class="col-sm-6 container">
                        <img src="{{ asset('img/petm.jpeg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="video col-sm-12">
                <img src="{{ asset('img/slide1.jpg') }}" alt="">
            </div>
        </div>

        <div class="row history textAndPhotos">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>histoire</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis, culpa
                            dignissimos earum est laborum molestias porro quae quos ratione! Accusantium alias dolor et,
                            incidunt ipsam iure non suscipit vel.
                        </div>
                        <div>Beatae iure maiores necessitatibus qui. Aliquid architecto asperiores, culpa deserunt
                            dignissimos eos esse est in magnam, molestiae, nesciunt nostrum obcaecati quisquam quod
                            quos? Aspernatur exercitationem magnam officia quidem quisquam repellat.
                        </div>
                        <div>Aliquid animi nisi nostrum perferendis, perspiciatis quaerat repellat. Fuga laboriosam
                            ratione vel. Atque consectetur culpa dolore eum incidunt ipsum necessitatibus nostrum odit
                            optio, quaerat quasi quia ullam. Debitis, error, perspiciatis.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deleniti et maiores odio
                            sed voluptatum. Ea enim harum sint? Aliquam aliquid aut consequatur cupiditate dignissimos
                            dolorum itaque nesciunt obcaecati quas.
                        </div>
                        <div>Ab accusantium consectetur cumque facilis illum, iusto laborum neque odit officiis possimus
                            quae quidem soluta tenetur velit veritatis! Accusantium beatae enim est eum illo praesentium
                            provident, quae ratione temporibus ullam.
                        </div>
                        <div>A accusamus ad adipisci atque cum delectus ea eveniet explicabo id iste magnam mollitia
                            nisi numquam officia quae quo rem sint sunt tenetur, vero. Ad consequatur nisi pariatur quo
                            repellat.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="bigPicture col-sm-12">
                        <img src="{{ asset('img/slide1.jpg') }}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2>présentation : le raid du 4l trophy</h2>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias consequatur corporis debitis deserunt dolorum ipsa laudantium magni minus nulla odio optio perspiciatis quasi quo quod quos repellendus sapiente, voluptatem.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias consequatur corporis debitis deserunt dolorum ipsa laudantium magni minus nulla odio optio perspiciatis quasi quo quod quos repellendus sapiente, voluptatem.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias consequatur corporis debitis deserunt dolorum ipsa laudantium magni minus nulla odio optio perspiciatis quasi quo quod quos repellendus sapiente, voluptatem.
                    </div>
                </div>
            </div>
        </div>

        <div class="row textAndPhotos">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <h2>le 4l trophy</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        <img src="{{ asset('img/petm.jpeg') }}" alt="">
                    </div>
                    <div class="col-sm-6 container">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, iure, perferendis. A ab consectetur dolorem dolores ex excepturi, impedit in labore maiores minus molestias mollitia provident suscipit vel voluptas! Ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at commodi consectetur consequatur cumque distinctio enim eveniet illum nisi obcaecati, odio quas, ratione reprehenderit sed sequi soluta ullam voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eius facilis laborum. Alias cupiditate doloremque eligendi quaerat voluptates! Corporis dolorem ea eaque eligendi eos esse fuga hic reiciendis tempora, velit.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, iure, perferendis. A ab consectetur dolorem dolores ex excepturi, impedit in labore maiores minus molestias mollitia provident suscipit vel voluptas! Ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at commodi consectetur consequatur cumque distinctio enim eveniet illum nisi obcaecati, odio quas, ratione reprehenderit sed sequi soluta ullam voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eius facilis laborum. Alias cupiditate doloremque eligendi quaerat voluptates! Corporis dolorem ea eaque eligendi eos esse fuga hic reiciendis tempora, velit.
                    </div>
                    <div class="col-sm-6 container">
                        <img src="{{ asset('img/petm.jpeg') }}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="bigPicture col-sm-12">
                        <img src="{{ asset('img/slide1.jpg') }}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        <img src="{{ asset('img/petm.jpeg') }}" alt="">
                    </div>
                    <div class="col-sm-6 container">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, iure, perferendis. A ab consectetur dolorem dolores ex excepturi, impedit in labore maiores minus molestias mollitia provident suscipit vel voluptas! Ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at commodi consectetur consequatur cumque distinctio enim eveniet illum nisi obcaecati, odio quas, ratione reprehenderit sed sequi soluta ullam voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eius facilis laborum. Alias cupiditate doloremque eligendi quaerat voluptates! Corporis dolorem ea eaque eligendi eos esse fuga hic reiciendis tempora, velit.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, iure, perferendis. A ab consectetur dolorem dolores ex excepturi, impedit in labore maiores minus molestias mollitia provident suscipit vel voluptas! Ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at commodi consectetur consequatur cumque distinctio enim eveniet illum nisi obcaecati, odio quas, ratione reprehenderit sed sequi soluta ullam voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eius facilis laborum. Alias cupiditate doloremque eligendi quaerat voluptates! Corporis dolorem ea eaque eligendi eos esse fuga hic reiciendis tempora, velit.
                    </div>
                    <div class="col-sm-6 container">
                        <img src="{{ asset('img/petm.jpeg') }}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="bigPicture col-sm-12">
                        <img src="{{ asset('img/slide1.jpg') }}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        <img src="{{ asset('img/petm.jpeg') }}" alt="">
                    </div>
                    <div class="col-sm-6 container">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, iure, perferendis. A ab consectetur dolorem dolores ex excepturi, impedit in labore maiores minus molestias mollitia provident suscipit vel voluptas! Ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at commodi consectetur consequatur cumque distinctio enim eveniet illum nisi obcaecati, odio quas, ratione reprehenderit sed sequi soluta ullam voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eius facilis laborum. Alias cupiditate doloremque eligendi quaerat voluptates! Corporis dolorem ea eaque eligendi eos esse fuga hic reiciendis tempora, velit.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, iure, perferendis. A ab consectetur dolorem dolores ex excepturi, impedit in labore maiores minus molestias mollitia provident suscipit vel voluptas! Ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at commodi consectetur consequatur cumque distinctio enim eveniet illum nisi obcaecati, odio quas, ratione reprehenderit sed sequi soluta ullam voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eius facilis laborum. Alias cupiditate doloremque eligendi quaerat voluptates! Corporis dolorem ea eaque eligendi eos esse fuga hic reiciendis tempora, velit.
                    </div>
                    <div class="col-sm-6 container">
                        <img src="{{ asset('img/petm.jpeg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="video col-sm-12">
                <img src="{{ asset('img/slide1.jpg') }}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>histoire</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis, culpa
                            dignissimos earum est laborum molestias porro quae quos ratione! Accusantium alias dolor et,
                            incidunt ipsam iure non suscipit vel.
                        </div>
                        <div>Beatae iure maiores necessitatibus qui. Aliquid architecto asperiores, culpa deserunt
                            dignissimos eos esse est in magnam, molestiae, nesciunt nostrum obcaecati quisquam quod
                            quos? Aspernatur exercitationem magnam officia quidem quisquam repellat.
                        </div>
                        <div>Aliquid animi nisi nostrum perferendis, perspiciatis quaerat repellat. Fuga laboriosam
                            ratione vel. Atque consectetur culpa dolore eum incidunt ipsum necessitatibus nostrum odit
                            optio, quaerat quasi quia ullam. Debitis, error, perspiciatis.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deleniti et maiores odio
                            sed voluptatum. Ea enim harum sint? Aliquam aliquid aut consequatur cupiditate dignissimos
                            dolorum itaque nesciunt obcaecati quas.
                        </div>
                        <div>Ab accusantium consectetur cumque facilis illum, iusto laborum neque odit officiis possimus
                            quae quidem soluta tenetur velit veritatis! Accusantium beatae enim est eum illo praesentium
                            provident, quae ratione temporibus ullam.
                        </div>
                        <div>A accusamus ad adipisci atque cum delectus ea eveniet explicabo id iste magnam mollitia
                            nisi numquam officia quae quo rem sint sunt tenetur, vero. Ad consequatur nisi pariatur quo
                            repellat.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}