{% extends 'base.html.twig' %}
{% block content %}
    <div class="presentation">
        <div class="row">
            <div class="bigPicture col-sm-12">
                <img src="{{ asset('img/slide1.jpg') }}" alt="">
            </div>
        </div>

        <div class="row textAndPhotos">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <h2>le 4l trophy</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        <img src="{{ asset('img/petm.jpeg') }}" alt="">
                    </div>
                    <div class="col-sm-6 container">
                        <h2>Le contexte</h2>
                        <p>Le Raid 4L Trophy est un raid automobile humanitaire destiné aux étudiants créé par Jean-Jacques Rey. Il est organisé par l'entreprise Desertours en partenariat avec l’école supérieur de commerce de Rennes.
                            Le Raid 4L Trophy a lieu chaque année. Les participants, âgés de 18 à 28 ans, disputent cette course d'orientation, réalisée exclusivement en Renault 4. Le parcours traversant la France, l’Espagne et le Maroc, et contient certaines étapes autour des dunes de Merzouga et dans l'Atlas. Au cours de ce voyage, ils transportent des fournitures scolaires et sportives, qui sont redistribués aux enfants du sud marocain à l'arrivée. Chaque équipage est classé en fonction des kilomètres qu'il réalise pour passer par chaque point de contrôle du parcours, l'objectif étant d'en parcourir le moins possible. Les valeurs qu’ils véhiculent sont : Partage, Entraide, Dépassement et Engagement, solidarité, sportif, humanitaire, pédagogique.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        <h2>Quelques chiffres</h2>
                        <p>
                            - 7 500 € prix moyen du raid ( dont 3250 € de frais d’inscription.)
                            <br>- 1629 equipages (edition 2016)
                            <br>- Soit 3258 étudiants
                            <br>- 6000 km dont 1000 de pistes
                            <br>- 80 tonnes de materiels
                        </p>
                    </div>
                    <div class="col-sm-6 container">
                        <img src="{{ asset('img/petm.jpeg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="video col-sm-12">
                <img src="{{ asset('img/slide1.jpg') }}" alt="">
            </div>
        </div>

        <div class="row history textAndPhotos">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-12 container">
                        <h2>histoire</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    Depuis la première édition, en 1998, le nombre d'équipages participants est passé de 1 à plus de 1 300 en 2014, dont 30 % de filles et 70 % de garçons, âgés en moyenne de 22 ans.
                                    Au cours de l'édition 2010, qui s'est tenue du 18 février au 28 février 2010, 2 400 étudiants ont collecté 78,5 tonnes de matériel scolaire et sportif officiel 2 qui ont été distribuées par plusieurs associations présentes sur place, dont Enfants du désert.déjà HRey et quelques amis du Paris Dakar sont au Mali pour tracer de nouvelles pistes vers la capitale Sénégiver 1996, Jean-Jacques alaise.
                                    C’est bien connu, lorsque des copains animés par une même passion sont réunis, ils s’appliquent à refaire le monde surtout celui qui les intéresse en l’occurrence l’aventure et l’Afrique.
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    C’est au cours d’un bivouac dans le sahel, pendant l’incontournable apéro du soir autour du feu que Jean-Jacques lance négligemment : « J’aurais bien aimé avoir la possibilité de faire ça à 20 ans, découvrir le désert et vivre une aventure aussi exceptionnelle » Mais aucun d’entre nous n’avait les moyens de s’acheter un 4×4 à l’époque.
                                    Tout cela paraissait bel et bien irréalisable et tenait simplement du rêve. la discussion se poursuit après le diner en bivouac :
                                    « On pourrait le faire avec des bagnoles normales ! » argumentent certains, « Pourquoi pas s’exclame Jean-Jacques ; il faudrait trouver une voiture pas chère et assez fiable pour rouler sur la piste. » Voila, l’idée toute simple était lancée…
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="bigPicture col-sm-12">
                        <img src="{{ asset('img/slide1.jpg') }}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 inter">
                        <h2>présentation : le raid du 4l trophy</h2>
                        <p>De l’avis de ceux qui ont participé à l’aventure, le Raid 4L TROPHY™ ne se raconte pas, il se vit. Pendant 10 jours, le temps s’arrête, on oublie son « autre vie ». Sur fond de paysages somptueux, on avance, on s’entraide, on se rencontre, on échange et on en ressort forcément différent</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row textAndPhotos">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-6 container">
                        <img src="{{ asset('img/petm.jpeg') }}" alt="">
                    </div>
                    <div class="col-sm-6 container">
                        <h2>le raid du 4l trophy</h2>
                        <p>
                            D’abord, quelques chiffres. Lors de l’édition 2015, la 18e du Raid 4L Trophy™, 1159 équipages soit 2318 participants issus de plus de 1460 écoles, se sont élancés depuis la Halle d’Iraty, pour un Village-Départ unique à Biarritz, à bord de la mythique 4L. En ligne de mire, Marrakech, destination finale d’un périple de 10 jours et près de 6000 kilomètres avalés sur les routes de France, d’Espagne et sur les pistes du Maroc. Autant d’éléments qui font du Raid 4L Trophy™ le plus grand raid étudiant d’Europe.
                            Mais plus que de simples chiffres alignés, le Raid 4L Trophy™ est une formidable aventure humaine, sportive et solidaire pour les étudiants âgés de 18 à 28 ans. Ici, il n’est pas question de vitesse mais d’orientation pour l’emporter. Relever le défi, c’est d’abord franchir la ligne d’arrivée. Et pour y parvenir, les participants découvriront la pleine dimension du mot entraide. Pour déjouer les pièges d’oueds et de sable dans lesquels beaucoup ne manqueront pas de s’ensabler. Pour dépanner le voisin, victime d’un problème mécanique. C’est grâce à l’entraide que naitra sur les visages de chacun l’immense satisfaction du devoir accompli, la fierté d’avoir tout donné pour soi et pour les autres.
                            En plus de leur soif de grands espaces, les équipages embarquent à bord de leur 4L du matériel et des fournitures scolaires destinés aux enfants les plus démunis du Maroc. Ancrée dans l’ADN du Raid 4L Trophy™, la solidarité vis à vis des populations locales n’est pas un vain mot. En témoigne la grande émotion qui étreint chaque année les participants lors de la cérémonie de la remise des dons organisée en partenariat avec l’association « Enfants du désert », l’un des grands temps forts de l’aventure.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        <h2>
                            L'esprit du 4ltrophy
                        </h2>
                        <p>
                            Ils sont une dizaine, installés autour d’un feu de camp, au beau milieu du désert. Une pluie d’étoiles dans l’obscurité. Des accords de guitare accompagnent la danse des flammes. L’ambiance est propice à la confidence. On se raconte des histoires de 4L, la beauté des paysages traversés, et un peu plus que ça aussi. Après une semaine de raid, ils ont déjà tant de souvenirs. Ce soir, ils profitent de leur dernière nuit en pleine nature. C’est la fameuse « étape marathon », longue virée de deux jours en autonomie, ultime défi de l’aventure. Bientôt, il faudra repartir. Bien sûr, il faudra renouer avec la réalité de « son autre vie ». Mais cette réalité sera marquée pour longtemps par « l’esprit 4L ». Les mots des participants peinent souvent à décrire la magie du Raid 4L Trophy™. Ils préfèrent lancer l’invitation : « Il faut le vivre ».
                        </p>
                    </div>
                    <div class="col-sm-6 container">
                        <img src="{{ asset('img/petm.jpeg') }}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="bigPicture col-sm-12">
                        <img src="{{ asset('img/slide1.jpg') }}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        <h2>Une aventure humaine et sportive</h2>
                    </div>
                    <div class="col-sm-6 container">
                        <h2>Un raid solitaire en ecocitoyen</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        <p>
                            Il n’est point de plaisir sur le Raid 4L Trophy™ sans un respect constant des règles de sécurité rappelées lors de chaque briefing par le directeur de course Jean-Jacques Rey. Elles sont indispensables pour permettre à tous d’évoluer avec la plus grande liberté et de rallier le bivouac suivant. Pendant le raid, il n’est ainsi jamais question de vitesse, mais plutôt de navigation et de sens de l’orientation. Les meilleures armes du « trophyste » ? Une carte, une boussole et une bonne lecture du road book remis à chaque équipage lors du départ. Les meilleurs seront ceux qui suivront au plus près les indications du fameux carnet de route et réaliseront l’étape avec le moins de kilomètres au compteur.
                            Aux pièges de l’orientation s’ajouteront ceux du désert marocain. Au moment de franchir les bacs de sable, c’est bien sur les autres qu’il faudra compter pour se dépêtrer d’un ensablement. Dans cette situation, les bras sont toujours nombreux pour venir en aide à un équipage victime d’un « tankage ». L’occasion pour chacun d’apprendre à repousser ses limites, d’avancer quel que soit l’obstacle. Un bagage inestimable que peu d’expériences peuvent apporter.
                        </p>
                    </div>
                    <div class="col-sm-6 container">
                        <p>
                            Le Raid 4L Trophy™ Solidaire, c’est d’abord une aide apportée en faveur des populations françaises à travers l’association « 4L Solidaire ». Depuis l’édition 2011, il est ainsi demandé à chaque équipage d’apporter 10 kg de denrées non périssables sur le Village-Départ. La nourriture collectée est ensuite confiée à la Croix-Rouge et à la banque alimentaire. La dimension solidaire du raid se poursuit avec l’acheminement de fournitures scolaires pour les enfants marocains, en partenariat avec l’association « Enfants du désert ». Une collecte de fonds est également organisée qui aura permis à la suite de l’édition 2012 et 2013, la création de salles de classe et d’écoles dans le désert.
                            Également au cœur des préoccupation du rallye, le respect de l’environnement. De nombreuses actions sont ainsi déployées chaque année pour réduire l’empreinte écologique du raid. L’opération « désert propre » assure un nettoyage méticuleux après chaque départ de bivouac.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        <h2>
                            Historique : 4L TROPHY, 18 ANS DEja!
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 container">
                        <p>
                            Hiver 1996, Jean-Jacques Rey et quelques amis du Paris Dakar sont au Mali pour tracer de nouvelles pistes vers la capitale Sénégalaise.C’est bien connu, lorsque des copains animés par une même passion sont réunis, ils s’appliquent à refaire le monde surtout celui qui les intéresse en l’occurrence l’aventure et l’Afrique.C’est au cours d’un bivouac dans le sahel, pendant l’incontournable apéro du soir autour du feu que Jean-Jacques lance négligemment : « J’aurais bien aimé avoir la possibilité de faire ça à 20 ans, découvrir le désert et vivre une aventure aussi exceptionnelle » Mais aucun d’entre nous n’avait les moyens de s’acheter un 4×4 à l’époque.
                            Tout cela paraissait bel et bien irréalisable et tenait simplement du rêve. la discussion se poursuit après le diner en bivouac :« On pourrait le faire avec des bagnoles normales ! » argumentent certains, « Pourquoi pas s’exclame Jean-Jacques ; il faudrait trouver une voiture pas chère et assez fiable pour rouler sur la piste. » Voila, l’idée toute simple était lancée…
                        </p>
                    </div>
                    <div class="col-sm-6 container">
                        <p>
                            De retour en France, Jean-Jacques, dans le cadre de ses activités professionnelles axées sur le voyage en 4×4 et motos, décide de se rendre au Maroc en 4L pour étudier la faisabilité d’un Raid Aventure dans ce pays. Le tracé est conçu, et… ça marche !!! Mamy 4L passe partout même dans le bac à sable ! Le Raid 4L Trophy™ est né ! Désertours communique avec les étudiants pour tenter de faire passer le message, facile à dire, pas facile à faire.A la fin du mois de février 1998, 3 équipages sont candidats au départ.On y va ? On n’y va pas ? La question est posée mais Jean-Jacques décide quand même de donner le départ avec en assistance son 4×4, un logisticien, un mécano, un médecin et lui-même.Le personnel de Désertours s’interroge, le boss a-t-il pété les plombs ? La réponse parait aujourd’hui évidente mais il a fallu plusieurs années et l’aide des étudiants de l’ESC Rennes à partir de 2001 pour que cette aventure connaisse son retentissement actuel.Dans la 4ème Édition 2001, 50 voitures étaient au rendez vous pour passer à 460 en 2005 et atteindre 1000 voitures en 2008. Aujourd’hui le Raid 4L Trophy™ a acquis ses lettres de noblesse.
                        </p>
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <div class="bigPicture col-sm-12">
                        <img src="{{ asset('img/slide1.jpg') }}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 container">
                                <img src="{{ asset('img/petm.jpeg') }}" alt="">
                            </div>
                            <div class="col-sm-6 container">
                                <h2>Le contexte</h2>
                                <p>
                                    L’association “Enfants du désert” à rejoint l’entreprise “Désert Tour” dans le cadre de l’aventure du 4L Trophy. Son rôle est de permettre la récolte de fournitures scolaires pour les enfants au Maroc, la récolte de boites de conserve pour être distribué, la récolte de dons monétaire pour permettre la construction d’écoles pour les enfants au Maroc. Matériels médical et paramédical.  L’association « Enfants du désert » récolte grâce aux 1200 équipages de 2015 la somme de 18 132, 49€ !
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 container">
                                <h2>
                                    Valeurs
                                </h2>
                                <p>
                                    Durant ce raid du 4L Trophy, l’association récupère différents types de dons:
                                    <br>Fournitures scolaires
                                    <br>Fournitures sportives
                                    <br>Dons financier qui participent à la construction d’écoles

                                    <br><br>Non obligatoire mais possible:
                                    <br>Médical
                                    <br>Paramédical
                                    <br>Hygiène
                                    <br>Informatique (ordi fixe, ordi portable, imprimante, scanner )
                                    <br>Téléphone usagé pour être recyclé

                                </p>
                            </div>
                            <div class="col-sm-6 container">
                                <img src="{{ asset('img/petm.jpeg') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="video col-sm-12">
                <img src="{{ asset('img/slide1.jpg') }}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>histoire</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            Association de loi 1901, Enfants du désert a été créée en 2005 par Laetitia Chevallier à la suite de plusieurs séjours au Maroc. Elle est née de l’envie d’aider matériellement et humainement les enfants les plus démunis, au sein de leur famille, dans les provinces du désert les plus reculées.
                            Au Maroc, il existe encore des régions qui subissent l’illettrisme, du fait notamment, du coût en matériel scolaire qui, à chaque rentrée, constitue un frein important à la scolarisation des enfants.
                            L’une des priorités d’Enfants du désert est donc l’éducation, et plus particulièrement celle des petites filles, qui aujourd’hui encore sont, pour diverses raisons, moins scolarisées que les garçons. Apprendre à lire, écrire et compter, est un droit qui doit être accessible à tous de nos jours.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            Indépendamment de l’aide à la scolarité, Enfants du désertsouhaite apporter à ces enfants, un peu de gaieté et de joie de vivre dans leur quotidien, en leur fournissant : jouets, vêtements, chaussures et produits d’hygiène.
                            Laetitia et Emmanuel CHEVALLIER se rendent sur place chaque mois afin d’effectuer un suivi des familles sur le long terme et d’évaluer en permanence les besoins qui pourraient être un frein à une scolarité suivie des enfants.
                            De plus, Enfants du désert travaille en étroite collaboration avec 15 ONG locales, choisies en raison de leur probité et qui assurent sur place un suivi entre chacune des interventions.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}