{% extends 'base.html.twig' %}
{% block content %}
    <div class="row bigimg"></div>
    <div class="row testimonyRow">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-4">
                    <div class="testimony">
                        <img src="{{ asset('img/top.jpg') }}" alt="">
                        <p>
                            Un gros travail au niveau de la recherche de sponsors.
                            Il ne faut pas baisser les bras. La partie mécanique a été assez sympa
                            à apprendre. Voir la voiture évoluer entre le moment ou on l’achète et
                            toutes les modifications est vraiment un plaisir.
                        </p>
                        <img src="{{ asset('img/arrowdown.jpg') }}" alt="">

                        <div class="row">
                            <div class="photoContainer center-block">
                                <img src="{{ asset('img/petm.jpeg') }}" alt="">
                            </div>
                        </div>

                        <p class="author">Pauline & Margaux</p>
                        <p class="edition">Edition 2015</p>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="testimony">
                        <img src="{{ asset('img/top.jpg') }}" alt="">
                        <p>
                            Nous avons vécu des moments difficiles durant l’aventure
                            principalement lors de la préparation. C’est une
                            remise en question constante. Durant la course, l’ambiance
                            est euphorique. Foncez, c’est vraiment une aventure unique.

                        </p>
                        <img src="{{ asset('img/arrowdown.jpg') }}" alt="">

                        <div class="row">
                            <div class="photoContainer center-block">
                                <img src="{{ asset('img/petm.jpeg') }}" alt="">
                            </div>
                        </div>

                        <p class="author">Aurélia & Mathieu</p>
                        <p class="edition">Edition 2015</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimony">
                        <img src="{{ asset('img/top.jpg') }}" alt="">

                        <p>
                            Nous avons consacré beaucoup de temps à la préparation. Grâce à des relations
                            nous avons pu financer correctement notre aventure.  Un esprit de cohésion
                            règne durant la course. Nous avons décidé de renouveler cette aventure
                            tellement nous avons aimé.
                        </p>
                        <img src="{{ asset('img/arrowdown.jpg') }}" alt="">

                        <div class="row">
                            <div class="photoContainer center-block">
                                <img src="{{ asset('img/petm.jpeg') }}" alt="">
                            </div>
                        </div>

                        <p class="author">Maxence & Kevin</p>
                        <p class="edition">Edition 2015 & 2016</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="testimony">
                        <img src="{{ asset('img/top.jpg') }}" alt="">

                        <p>
                            Le défi, l’aventure et l’humanitaire nous ont motivé à réaliser le 4L Trophy.
                            Pour la préparation nous n’étions pas très organisés, mais cela ne nous a pas
                            empêché de partir deux années de suite. Le retour à la maison a été difficile
                            après cette superbe aventure
                        </p>
                        <img src="{{ asset('img/arrowdown.jpg') }}" alt="">

                        <div class="row">
                            <div class="photoContainer center-block">
                                <img src="{{ asset('img/petm.jpeg') }}" alt="">
                            </div>
                        </div>

                        <p class="author">Guillaume & David</p>
                        <p class="edition">Edition 2015 & 2016</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimony">
                        <img src="{{ asset('img/top.jpg') }}" alt="">

                        <p>
                            Pour nous préparer au mieux à cette aventure, nous avons pris des cours de
                            mécanique, nous nous sommes préparés physiquement. Durant l’aventure, l’entraide
                            est très présente. L’aventure nous a ouvert les yeux sur notre mode de vie comparé
                            à celle sur place.
                        </p>
                        <img src="{{ asset('img/arrowdown.jpg') }}" alt="">

                        <div class="row">
                            <div class="photoContainer center-block">
                                <img src="{{ asset('img/petm.jpeg') }}" alt="">
                            </div>
                        </div>

                        <p class="author">Noémie & Flavie</p>
                        <p class="edition">Edition 2015</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimony">
                        <img src="{{ asset('img/top.jpg') }}" alt="">

                        <p>
                            Nous nous sommes lancé dans l’aventure pour s’amuser. Un garagiste s’est
                            occupé de notre voiture et nous avons financé le reste. Le soir lorsque
                            nous nous  retrouvons tous, c’est le feu ! Nous gardons de très bons souvenirs
                            de l’édition 2014.
                        </p>
                        <img src="{{ asset('img/arrowdown.jpg') }}" alt="">

                        <div class="row">
                            <div class="photoContainer center-block">
                                <img src="{{ asset('img/petm.jpeg') }}" alt="">
                            </div>
                        </div>

                        <p class="author">Gerald & Sami</p>
                        <p class="edition">Edition 2014</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}